* {
	margin: 0;
	padding: 0;
}
nav {
	float: left;
	background:darkgray;
}
main {
	background:lightgray;
	font-family: 'Gamja Flower', cursive;
}
footer {
	background:gray;
	clear: both;
	font-family: 'Gamja Flower', cursive;
}